.containerpassword {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 0;
}
.in {
  padding: 0.45rem 1.2rem;
}
#password input[type="text"],
#password input[type="email"],
#password input[type="tel"],
#password input[type="password"],
#password textarea,
#password button[type="submit"] {
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  letter-spacing: 1.5px;
}
/* #password input::placeholder {
  padding: 10px;
} */

#password {
  background: linear-gradient(to bottom left, #25c481 30%, #25b7c4 50%);
  padding: 25px;
  /* margin: 150px 0; */
  margin-bottom: 75px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px solid white;
  border-radius: 25px;
}

#password h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#password h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#password input[type="text"],
#password input[type="email"],
#password input[type="tel"],
#password input[type="password"],
#password textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#password input[type="text"]:hover,
#password input[type="email"]:hover,
#password input[type="tel"]:hover,
#password input[type="password"]:hover,
#password textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#password textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
.form-textbox {
  padding-left: 20px;
}
#password button[type="submit"] {
  cursor: pointer;
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 25px;
  outline: none;
}

#password button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

#password button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#password input:focus,
#password textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: linear-gradient(to bottom left, #25c481 30%, #25b7c4 50%);
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
