footer {
  /* Give the footer a shadow too */
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background: -webkit-linear-gradient(left, #1c1d1d, #303131);
  background: linear-gradient(to right, #303131, #1c1d1d);
}
footer nav ul {
  display: flex;
  /*  Put everything on one line  */
  flex-direction: row;
  /* Equally space everything  */
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

footer nav ul li {
  /* Stop everything from hitting the edges of the footer   */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer nav ul li > i {
  margin-bottom: -15px !important;
}
